Package: com.opa334.safariplus
Name: Safari Plus
Depends: firmware (>=8.0), mobilesubstrate, ws.hbang.common, com.creaturesurvive.libcscolorpicker, net.limneos.libbulletin, com.rpetrich.rocketbootstrap
Version: 1.6.8-2
Architecture: iphoneos-arm
Description: Various enhancements to Safari!
Depiction: https://opa334.github.io/depic/SafariPlus/index.html
Homepage: https://opa334.github.io/
Maintainer: opa334
Author: opa334
Section: Tweaks
