Package: com.opa334.SafariPlus
Name: Safari Plus
Depends: firmware (>=8.0), mobilesubstrate, ws.hbang.common, org.thebigboss.libcolorpicker, net.limneos.libbulletin, com.rpetrich.rocketbootstrap
Version: 1.3.2
Architecture: iphoneos-arm
Description: Various enhancements to Safari!
Maintainer: opa334
Author: opa334
Section: Tweaks
