{
	title = "TAB_SETTINGS";
	items =
	(
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "CHANGE_MODE_ON";
			footerText = "LAUNCH_MODE_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "forceModeOnStartEnabled";
			label = "LAUNCH_MODE_LABEL";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "forceModeOnStartFor";
			label = "TO";
			valuesDataSource = "modeValues";
			titlesDataSource = "modeTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "CHANGE_MODE_ON";
			footerText = "RESUME_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "forceModeOnResumeEnabled";
			label = "RESUME_LABEL";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "forceModeOnResumeFor";
			label = "TO";
			valuesDataSource = "modeValues";
			titlesDataSource = "modeTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "CHANGE_MODE_ON";
			footerText = "EXTERNAL_URL_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "forceModeOnExternalLinkEnabled";
			label = "EXTERNAL_URL_LABEL";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "forceModeOnExternalLinkFor";
			label = "TO";
			valuesDataSource = "modeValues";
			titlesDataSource = "modeTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "AUTO_CLOSE_TABS_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "autoCloseTabsEnabled";
			label = "AUTO_CLOSE_TABS_LABEL";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "autoCloseTabsOn";
			label = "ON";
			valuesDataSource = "stateValues";
			titlesDataSource = "stateTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "autoCloseTabsFor";
			label = "FOR";
			valuesDataSource = "closeModeValues";
			titlesDataSource = "closeModeTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "AUTO_DELETE_DATA_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "autoDeleteDataEnabled";
			label = "AUTO_DELETE_DATA_LABEL";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "PSListItemsController";
			key = "autoDeleteDataOn";
			label = "ON";
			valuesDataSource = "stateValues";
			titlesDataSource = "stateTitles";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
	);
}
