<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>LAUNCH_MODE_FOOTER</string>
			<key>label</key>
			<string>CHANGE_MODE_ON</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>forceModeOnStartEnabled</string>
			<key>label</key>
			<string>LAUNCH_MODE_LABEL</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>forceModeOnStartFor</string>
			<key>label</key>
			<string>TO</string>
			<key>titlesDataSource</key>
			<string>modeTitles</string>
			<key>valuesDataSource</key>
			<string>modeValues</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>RESUME_FOOTER</string>
			<key>label</key>
			<string>CHANGE_MODE_ON</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>forceModeOnResumeEnabled</string>
			<key>label</key>
			<string>RESUME_LABEL</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>forceModeOnResumeFor</string>
			<key>label</key>
			<string>TO</string>
			<key>titlesDataSource</key>
			<string>modeTitles</string>
			<key>valuesDataSource</key>
			<string>modeValues</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>EXTERNAL_URL_FOOTER</string>
			<key>label</key>
			<string>CHANGE_MODE_ON</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>forceModeOnExternalLinkEnabled</string>
			<key>label</key>
			<string>EXTERNAL_URL_LABEL</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>forceModeOnExternalLinkFor</string>
			<key>label</key>
			<string>TO</string>
			<key>titlesDataSource</key>
			<string>modeTitles</string>
			<key>valuesDataSource</key>
			<string>modeValues</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>AUTO_CLOSE_TABS_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>autoCloseTabsEnabled</string>
			<key>label</key>
			<string>AUTO_CLOSE_TABS_LABEL</string>
			<key>nestedEntryCount</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>autoCloseTabsOn</string>
			<key>label</key>
			<string>ON</string>
			<key>titlesDataSource</key>
			<string>stateTitles</string>
			<key>valuesDataSource</key>
			<string>stateValues</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>autoCloseTabsFor</string>
			<key>label</key>
			<string>FOR</string>
			<key>titlesDataSource</key>
			<string>closeModeTitles</string>
			<key>valuesDataSource</key>
			<string>closeModeValues</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>AUTO_DELETE_DATA_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>autoDeleteDataEnabled</string>
			<key>label</key>
			<string>AUTO_DELETE_DATA_LABEL</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>autoDeleteDataOn</string>
			<key>label</key>
			<string>ON</string>
			<key>titlesDataSource</key>
			<string>stateTitles</string>
			<key>valuesDataSource</key>
			<string>stateValues</string>
		</dict>
		<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>footerText</key>
	    <string>DISABLE_PRIVATE_MODE_FOOTER</string>
	  </dict>
	  <dict>
	    <key>PostNotification</key>
	    <string>com.opa334.safariplusprefs/ReloadPrefs</string>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>key</key>
	    <string>disablePrivateMode</string>
	    <key>label</key>
	    <string>DISABLE_PRIVATE_MODE</string>
	  </dict>
	  <dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>footerText</key>
	    <string>ALWAYS_OPEN_NEW_TAB_FOOTER</string>
	  </dict>
	  <dict>
	    <key>PostNotification</key>
	    <string>com.opa334.safariplusprefs/ReloadPrefs</string>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>key</key>
	    <string>alwaysOpenNewTabEnabled</string>
	    <key>label</key>
	    <string>ALWAYS_OPEN_NEW_TAB</string>
	    <key>nestedEntryCount</key>
	    <integer>1</integer>
	  </dict>
	  <dict>
	    <key>PostNotification</key>
	    <string>com.opa334.safariplusprefs/ReloadPrefs</string>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>key</key>
	    <string>alwaysOpenNewTabInBackgroundEnabled</string>
	    <key>label</key>
	    <string>OPEN_NEW_TAB_IN_BACKGROUND</string>
	  </dict>
	  <dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>footerText</key>
	    <string>SUPPRESS_MAILTO_DIALOG_FOOTER</string>
	  </dict>
	  <dict>
	    <key>PostNotification</key>
	    <string>com.opa334.safariplusprefs/ReloadPrefs</string>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>com.opa334.safariplusprefs</string>
	    <key>key</key>
	    <string>suppressMailToDialog</string>
	    <key>label</key>
	    <string>SUPPRESS_MAILTO_DIALOG</string>
	  </dict>
	</array>
	<key>title</key>
	<string>BEHAVIOUR</string>
</dict>
</plist>
