<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>bottomBarNormalTintColorEnabled</string>
			<key>label</key>
			<string>TINT_COLOR</string>
			<key>set</key>
			<string>setColorEnabled:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safaripluscolorprefs/ReloadPrefs</string>
				<key>alpha</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safaripluscolorprefs</string>
				<key>fallback</key>
				<string>#00000</string>
				<key>key</key>
				<string>bottomBarNormalTintColor</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>bottomBarNormalBackgroundColorEnabled</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>set</key>
			<string>setColorEnabled:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safaripluscolorprefs/ReloadPrefs</string>
				<key>alpha</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safaripluscolorprefs</string>
				<key>fallback</key>
				<string>#00000</string>
				<key>key</key>
				<string>bottomBarNormalBackgroundColor</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>BOTTOM_BAR</string>
</dict>
</plist>
