{
	title = "COLOR_SETTINGS";
	items =
	(
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "NORMAL_MODE";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "TopBarNormalColorPrefsController";
			label = "TOP_BAR";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "BottomBarNormalColorPrefsController";
			label = "BOTTOM_BAR";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "TabSwitcherNormalColorPrefsController";
			label = "TAB_SWITCHER";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "PRIVATE_MODE";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "TopBarPrivateColorPrefsController";
			label = "TOP_BAR";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "BottomBarPrivateColorPrefsController";
			label = "BOTTOM_BAR";
		},
		{
			cell = "PSLinkListCell";
			defaults = "com.opa334.safariplusprefs";
			detail = "TabSwitcherPrivateColorPrefsController";
			label = "TAB_SWITCHER";
		}
	);
}
