<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>PICKER_INSPIRED</string>
			</dict>
			<dict>
				<key>action</key>
				<string>WatusiLink</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>icon</key>
				<string>Reddit.png</string>
				<key>label</key>
				<string>Watusi 2</string>
			</dict>
		</array>
		<key>title</key>
		<string>CREDITS</string>
	</dict>
</plist>
