{
	title = "CREDITS";
	items =
	(
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "ICONS";
		},
		{
			action = desktopButtonLink;
			cell = PSButtonCell;
			icon = "desktopButton.png";
			label = "DESKTOP_MODE_BUTTON";
		},
		{
			action = deviceButtonLink;
			cell = PSButtonCell;
			icon = "Device.png";
			label = "LOCAL_FILE_BUTTON";
		},
		{
			action = fileLink;
			cell = PSButtonCell;
			icon = "File.png";
			label = "PICKER_FILE_ENTRY";
		},
		{
			action = directoryLink;
			cell = PSButtonCell;
			icon = "Directory.png";
			label = "PICKER_DIRECTORY_ENTRY";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "STOLEN_FROM";
		},
		{
			action = LockGlyphXRepoLink;
			cell = PSButtonCell;
			icon = "GitHub.png";
			label = "LockGlyphX";
		},
		{
			action = LockGlyphXFileLink;
			cell = PSButtonCell;
			icon = "GitHub.png";
			label = "LockGlyphXPrefs.mm";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			label = "PICKER_INSPIRED";
		},
		{
			action = WatusiLink;
			cell = PSButtonCell;
			icon = "Reddit.png";
			label = "Watusi 2";
		},
	);
}
