<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>APPEARANCE</string>
				<key>maxCFVersion</key>
				<real>1660.00</real>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>SPPColorsListController</string>
				<key>label</key>
				<string>COLORS</string>
				<key>maxCFVersion</key>
				<real>1660.00</real>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>BOTTOM_TOOLBAR</string>
				<key>footerText</key>
				<string>BOTTOM_TOOLBAR_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>bottomToolbarCustomOrderEnabled</string>
				<key>label</key>
				<string>REORDER_BOTTOM_TOOLBAR</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>SPPBottomToolbarReorderingListController</string>
				<key>label</key>
				<string>CHOOSE_ORDER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>TOP_TOOLBAR</string>
				<key>footerText</key>
				<string>TOP_TOOLBAR_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>topToolbarCustomOrderEnabled</string>
				<key>label</key>
				<string>REORDER_TOP_TOOLBAR</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>SPPTopToolbarReorderingListController</string>
				<key>label</key>
				<string>CHOOSE_ORDER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>BROWSING</string>
				<key>footerText</key>
				<string>CUSTOM_START_SITE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customStartSiteEnabled</string>
				<key>label</key>
				<string>CUSTOM_START_SITE</string>
				<key>nestedEntryCount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isURL</key>
				<string>true</string>
				<key>key</key>
				<string>customStartSite</string>
				<key>placeholder</key>
				<string>https://google.com/</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SAVE</string>
				<key>action</key>
				<string>closeKeyboard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>CUSTOM_SEARCH_ENGINE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customSearchEngineEnabled</string>
				<key>label</key>
				<string>CUSTOM_SEARCH_ENGINE</string>
				<key>nestedEntryCount</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>SPPNoSeparatorTableCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SEARCH_ENGINE_NAME</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isURL</key>
				<string>false</string>
				<key>key</key>
				<string>customSearchEngineName</string>
				<key>placeholder</key>
				<string>Google</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>SPPNoSeparatorTableCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SEARCH_URL</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customSearchEngineURL</string>
				<key>placeholder</key>
				<string>https://google.com/search?q={searchTerms}</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>SPPNoSeparatorTableCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SEARCH_SUGGESTIONS_URL</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customSearchEngineSuggestionsURL</string>
				<key>placeholder</key>
				<string>https://www.google.com/complete/search&amp;q={searchTerms}</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SAVE</string>
				<key>action</key>
				<string>closeKeyboard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>CUSTOM_USER_AGENT_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customUserAgentEnabled</string>
				<key>label</key>
				<string>CUSTOM_USER_AGENT</string>
				<key>nestedEntryCount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isURL</key>
				<string>false</string>
				<key>key</key>
				<string>customUserAgent</string>
				<key>placeholder</key>
				<string>Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1 Mobile/15E148 Safari/604.1</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SAVE</string>
				<key>action</key>
				<string>closeKeyboard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>CUSTOM_DESKTOP_USER_AGENT_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customDesktopUserAgentEnabled</string>
				<key>label</key>
				<string>CUSTOM_DESKTOP_USER_AGENT</string>
				<key>nestedEntryCount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isURL</key>
				<string>false</string>
				<key>key</key>
				<string>customDesktopUserAgent</string>
				<key>placeholder</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/604.1 (KHTML, like Gecko) Version/12.0 Safari/604.1</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SAVE</string>
				<key>action</key>
				<string>closeKeyboard</string>
			</dict>
		</array>
		<key>title</key>
		<string>CUSTOMIZATION</string>
	</dict>
</plist>
