<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>URL_BAR_GESTURES</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>URLLeftSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_LEFT_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>URLLeftSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>URLRightSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_RIGHT_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>URLRightSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>URLDownSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_DOWN_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>URLDownSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>TOOLBAR_GESTURES</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>toolbarLeftSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_LEFT_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>toolbarLeftSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>toolbarRightSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_RIGHT_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>toolbarRightSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>toolbarUpDownSwipeGestureEnabled</string>
				<key>label</key>
				<string>SWIPE_UP_DOWN_GESTURE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>toolbarUpDownSwipeAction</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>gestureActionTitles</string>
				<key>valuesDataSource</key>
				<string>gestureActionValues</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>gesturesInTabSwitcherEnabled</string>
				<key>label</key>
				<string>ALLOW_GESTURES_IN_TAB_SWITCHER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>gestureActionsInBackgroundEnabled</string>
				<key>label</key>
				<string>RUN_ACTIONS_IN_BACKGROUND</string>
			</dict>
		</array>
		<key>title</key>
		<string>GESTURES</string>
	</dict>
</plist>
