{
	items =
	(
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
			label = "NORMAL_MODE";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "APP_TINT_COLOR_ENABLED";
			key = "appTintColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell; //Need to use PFColorCell, because PFSimpleLiteColorCell doesn't work (help would be appreciated): https://www.reddit.com/r/jailbreakdevelopers/comments/5t7t13/hbpreferences_libcolorpicker/
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = appTintColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "APP_TINT_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "TOP_BAR_COLOR_ENABLED";
			key = "topBarColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = topBarColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			usesAlpha = true;
			label = "TOP_BAR_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "URL_FONT_COLOR_ENABLED";
			key = "URLFontColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = URLFontColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "URL_FONT_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "PROGRESS_BAR_COLOR_ENABLED";
			key = "progressBarColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = progressBarColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "PROGRESS_BAR_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "TAB_TITLE_COLOR_ENABLED";
			key = "tabTitleColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = tabTitleColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "TAB_TITLE_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "RELOAD_BUTTON_COLOR_ENABLED";
			key = "reloadColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = reloadColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "RELOAD_BUTTON_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "LOCK_ICON_COLOR_ENABLED";
			key = "lockIconColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = lockIconColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			label = "LOCK_ICON_COLOR";
		},
		{
			cell = PSGroupCell;
			defaults = "com.opa334.safariplusprefs";
			footerText = "BOTTOM_BAR_FOOTER";
		},
		{
			cell = PSSwitchCell;
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "BOTTOM_BAR_COLOR_ENABLED";
			key = "bottomBarColorNormalEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = PSLinkCell;
			cellClass = PFColorCell;
			color_defaults = "com.opa334.safariplusprefs";
			color_fallback = "#FFFFFF";
			color_key = bottomBarColorNormal;
			color_PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
			usesRGB = true;
			usesAlpha = true;
			label = "BOTTOM_BAR_COLOR";
		},
	);
	title = "NORMAL_MODE";
}
