{
	title = "OTHER_ADDONS";
	items =
	(
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "FULLSCREEN_SCROLLING_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			label = "FULLSCREEN_SCROLLING";
			key = "fullscreenScrollingEnabled";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "DISABLE_PRIVATE_MODE_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "disablePrivateMode";
			label = "DISABLE_PRIVATE_MODE";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "ALWAYS_OPEN_NEW_TAB_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "alwaysOpenNewTabEnabled";
			label = "ALWAYS_OPEN_NEW_TAB";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
		{
			cell = "PSGroupCell";
			defaults = "com.opa334.safariplusprefs";
			footerText = "SUPPRESS_MAILTO_DIALOG_FOOTER";
		},
		{
			cell = "PSSwitchCell";
			default = false;
			defaults = "com.opa334.safariplusprefs";
			key = "suppressMailToDialog";
			label = "SUPPRESS_MAILTO_DIALOG";
			PostNotification = "com.opa334.safariplusprefs/ReloadPrefs";
		},
	);
}
