<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>FULLSCREEN_SCROLLING_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>fullscreenScrollingEnabled</string>
			<key>label</key>
			<string>FULLSCREEN_SCROLLING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>LOCK_BARS_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>lockBars</string>
			<key>label</key>
			<string>LOCK_BARS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>DISABLE_PRIVATE_MODE_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>disablePrivateMode</string>
			<key>label</key>
			<string>DISABLE_PRIVATE_MODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>ALWAYS_OPEN_NEW_TAB_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>alwaysOpenNewTabEnabled</string>
			<key>label</key>
			<string>ALWAYS_OPEN_NEW_TAB</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>alwaysOpenNewTabInBackgroundEnabled</string>
			<key>label</key>
			<string>OPEN_NEW_TAB_IN_BACKGROUND</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>SUPPRESS_MAILTO_DIALOG_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>suppressMailToDialog</string>
			<key>label</key>
			<string>SUPPRESS_MAILTO_DIALOG</string>
		</dict>
	</array>
	<key>title</key>
	<string>OTHER_ADDONS</string>
</dict>
</plist>
