<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>FORCE_HTTPS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>forceHTTPSEnabled</string>
				<key>label</key>
				<string>FORCE_HTTPS</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>SPPExceptionsController</string>
				<key>label</key>
				<string>FORCE_HTTPS_EXCEPTIONS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>LOCKED_TABS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>lockedTabsEnabled</string>
				<key>label</key>
				<string>LOCKED_TABS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>BIOMETRIC_PROTECTION_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionEnabled</string>
				<key>label</key>
				<string>BIOMETRIC_PROTECTION</string>
				<key>nestedEntryCount</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>cellClass</key>
				<string>SPPSwitchNoSeparatorOnEnableCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionSwitchModeEnabled</string>
				<key>label</key>
				<string>SWITCH_BROWSING_MODE</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionSwitchModeAllowAutomaticActionsEnabled</string>
				<key>label</key>
				<string>ALLOW_AUTOMATIC_ACTIONS</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionLockTabEnabled</string>
				<key>label</key>
				<string>LOCK_TAB</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionUnlockTabEnabled</string>
				<key>label</key>
				<string>UNLOCK_TAB</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionAccessLockedTabEnabled</string>
				<key>label</key>
				<string>ACCESS_LOCKED_TAB</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>enabled</key>
				<false/>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>biometricProtectionOpenDownloadsEnabled</string>
				<key>label</key>
				<string>OPEN_DOWNLOADS</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>AUTHENTICATE</string>
				<key>action</key>
				<string>authenticate</string>
			</dict>
		</array>
		<key>title</key>
		<string>PRIVACY</string>
	</dict>
</plist>
