<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SPPKillSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FEATURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPPrivacyListController</string>
			<key>label</key>
			<string>PRIVACY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPUploadDownloadListController</string>
			<key>label</key>
			<string>UPLOADS_AND_DOWNLOADS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPUsabilityListController</string>
			<key>label</key>
			<string>USABILITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPBehaviourListController</string>
			<key>label</key>
			<string>BEHAVIOUR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPGesturesListController</string>
			<key>label</key>
			<string>GESTURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPCustomizationListController</string>
			<key>label</key>
			<string>CUSTOMIZATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT_ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>TWITTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DONATE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT_THIS_TWEAK</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub.png</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>SPPCreditsListController</string>
			<key>label</key>
			<string>CREDITS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2017-2019 opa334</string>
		</dict>
	</array>
	<key>title</key>
	<string>Safari Plus</string>
</dict>
</plist>
