<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateTintColorEnabled</string>
			<key>label</key>
			<string>TINT_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateTintColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateBackgroundColorEnabled</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateBackgroundColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateStatusBarStyleEnabled</string>
			<key>label</key>
			<string>STATUS_BAR_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>topBarPrivateStatusBarStyle</string>
			<key>titlesDataSource</key>
			<string>statusBarColorTitles</string>
			<key>valuesDataSource</key>
			<string>statusBarColorValues</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>TAB_BAR_NOTE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateTabBarTitleColorEnabled</string>
			<key>label</key>
			<string>TAB_BAR_TITLE_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateTabBarTitleColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>INACTIVE_TITLE_OPACITY</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.2</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>isSegmented</key>
			<string>0</string>
			<key>key</key>
			<string>topBarPrivateTabBarInactiveTitleOpacity</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateURLFontColorEnabled</string>
			<key>label</key>
			<string>URL_FONT_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateURLFontColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateProgressBarColorEnabled</string>
			<key>label</key>
			<string>PROGRESS_BAR_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateProgressBarColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateLockIconColorEnabled</string>
			<key>label</key>
			<string>LOCK_ICON_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateLockIconColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>topBarPrivateReloadButtonColorEnabled</string>
			<key>label</key>
			<string>RELOAD_BUTTON_COLOR</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>alpha</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>fallback</key>
			<string>00000</string>
			<key>key</key>
			<string>topBarPrivateReloadButtonColor</string>
			<key>label</key>
			<string>SELECT_COLOR</string>
		</dict>
	</array>
	<key>title</key>
	<string>TOP_BAR</string>
</dict>
</plist>
