<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>LARGE_TITLES_FOOTER</string>
				<key>minCFVersion</key>
				<real>1443.00</real>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>largeTitlesEnabled</string>
				<key>label</key>
				<string>LARGE_TITLES</string>
				<key>minCFVersion</key>
				<real>1443.00</real>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DISABLE_COMMUNICATION_ERROR_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>communicationErrorDisabled</string>
				<key>label</key>
				<string>DISABLE_COMMUNICATION_ERROR</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>RESET_ALL_PREFERENCES</string>
				<key>action</key>
				<string>resetAllPreferences</string>
			</dict>
		</array>
		<key>title</key>
		<string>TWEAK_SPECIFIC_SETTINGS</string>
	</dict>
</plist>
