<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>UPLOADS</string>
				<key>footerText</key>
				<string>UPLOAD_ANY_FILE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>uploadAnyFileOptionEnabled</string>
				<key>label</key>
				<string>UPLOAD_ANY_FILE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>DOWNLOADS</string>
				<key>footerText</key>
				<string>DOWNLOAD_MANAGER_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>downloadManagerEnabled</string>
				<key>label</key>
				<string>DOWNLOAD_MANAGER</string>
				<key>nestedEntryCount</key>
				<integer>35</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>CONTENT_OPTIONS</string>
				<key>footerText</key>
				<string>VIDEO_DOWNLOADING_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>videoDownloadingEnabled</string>
				<key>label</key>
				<string>VIDEO_DOWNLOADING</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>videoDownloadingUseTabTitleAsFilenameEnabled</string>
				<key>label</key>
				<string>USE_TAB_TITLE_AS_FILENAME</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>ELEMENT_DOWNLOAD_ACTIONS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>downloadSiteToActionEnabled</string>
				<key>label</key>
				<string>DOWNLOAD_SITE_TO_ACTION</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>downloadImageToActionEnabled</string>
				<key>label</key>
				<string>DOWNLOAD_IMAGE_TO_ACTION</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>PATH_OPTIONS</string>
				<key>footerText</key>
				<string>CUSTOM_DEFAULT_PATH_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>customDefaultPathEnabled</string>
				<key>label</key>
				<string>CUSTOM_DEFAULT_PATH</string>
				<key>nestedEntryCount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>/var</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>default</key>
				<string></string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isURL</key>
				<string>true</string>
				<key>key</key>
				<string>customDefaultPath</string>
				<key>placeholder</key>
				<string>/mobile/Downloads/</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>SAVE</string>
				<key>action</key>
				<string>closeKeyboard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>PINNED_LOCATIONS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>pinnedLocationsEnabled</string>
				<key>label</key>
				<string>PINNED_LOCATIONS_ENABLED</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>SPPPinnedLocationsController</string>
				<key>label</key>
				<string>PINNED_LOCATIONS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>INTERFACE</string>
				<key>footerText</key>
				<string>PREVIEW_DOWNLOAD_PROGRESS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>previewDownloadProgressEnabled</string>
				<key>label</key>
				<string>PREVIEW_DOWNLOAD_PROGRESS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DEFAULT_SECTION_FOOTER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>label</key>
				<string>DEFAULT_SECTION</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>defaultDownloadSection</string>
				<key>titlesDataSource</key>
				<string>sectionTitles</string>
				<key>valuesDataSource</key>
				<string>sectionValues</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>defaultDownloadSectionAutoSwitchEnabled</string>
				<key>label</key>
				<string>DEFAULT_SECTION_AUTO_SWITCH</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>BEHAVIOUR</string>
				<key>footerText</key>
				<string>INSTANT_DOWNLOAD_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>instantDownloadsEnabled</string>
				<key>label</key>
				<string>INSTANT_DOWNLOAD</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>key</key>
				<string>instantDownloadsOption</string>
				<key>label</key>
				<string>ACTION</string>
				<key>titlesDataSource</key>
				<string>instantDownloadTitles</string>
				<key>valuesDataSource</key>
				<string>instantDownloadValues</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>ONLY_DOWNLOAD_ON_WIFI_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>onlyDownloadOnWifiEnabled</string>
				<key>label</key>
				<string>ONLY_DOWNLOAD_ON_WIFI</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>AUTOSAVE_TO_MEDIA_LIBRARY_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>autosaveToMediaLibraryEnabled</string>
				<key>label</key>
				<string>AUTOSAVE_TO_MEDIA_LIBRARY</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DISABLE_HISTORY_FOR_PRIVATE_MODE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>privateModeDownloadHistoryDisabled</string>
				<key>label</key>
				<string>DISABLE_HISTORY_FOR_PRIVATE_MODE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>label</key>
				<string>NOTIFICATIONS</string>
				<key>footerText</key>
				<string>PUSH_NOTIFICATIONS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>pushNotificationsEnabled</string>
				<key>label</key>
				<string>PUSH_NOTIFICATIONS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>STATUS_BAR_NOTIFICATIONS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>statusBarNotificationsEnabled</string>
				<key>label</key>
				<string>STATUS_BAR_NOTIFICATIONS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>APPLICATION_BADGE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>applicationBadgeEnabled</string>
				<key>label</key>
				<string>APPLICATION_BADGE</string>
			</dict>
		</array>
		<key>title</key>
		<string>Safari Plus</string>
	</dict>
</plist>
