<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>SECOND_OPEN_IN_NEW_TAB_FOOTER</string>
			<key>label</key>
			<string>URL_ACTIONS</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>openInNewTabOptionEnabled</string>
			<key>label</key>
			<string>SECOND_OPEN_IN_NEW_TAB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>OPEN_IN_OPPOSITE_MODE_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>openInOppositeModeOptionEnabled</string>
			<key>label</key>
			<string>OPEN_IN_OPPOSITE_MODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>DESKTOP_MODE_SWITCH_FOOTER</string>
			<key>label</key>
			<string>TAB_MANAGEMENT</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>desktopButtonEnabled</string>
			<key>label</key>
			<string>DESKTOP_MODE_SWITCH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>DISABLE_TAB_LIMIT_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>disableTabLimit</string>
			<key>label</key>
			<string>DISABLE_TAB_LIMIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>CUSTOM_START_SITE_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>customStartSiteEnabled</string>
			<key>label</key>
			<string>CUSTOM_START_SITE</string>
			<key>nestedEntryCount</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>isURL</key>
			<string>true</string>
			<key>key</key>
			<string>customStartSite</string>
			<key>placeholder</key>
			<string>https://google.com/</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>label</key>
			<string>SAVE</string>
			<key>action</key>
			<string>closeKeyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>LONG_PRESS_SUGGESTIONS_FOOTER</string>
			<key>label</key>
			<string>SUGGESTIONS</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>longPressSuggestionsEnabled</string>
			<key>label</key>
			<string>LONG_PRESS_SUGGESTIONS</string>
			<key>nestedEntryCount</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>LONG_PRESS_DURATION_TITLE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>isSegmented</key>
			<string>1</string>
			<key>key</key>
			<string>longPressSuggestionsDuration</string>
			<key>max</key>
			<string>2</string>
			<key>min</key>
			<string>0.25</string>
			<key>segmentCount</key>
			<integer>7</integer>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>longPressSuggestionsFocusEnabled</string>
			<key>label</key>
			<string>LONG_PRESS_FOCUS_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>SHOW_TAB_COUNT_FOOTER</string>
			<key>label</key>
			<string>INTERFACE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>showTabCountEnabled</string>
			<key>label</key>
			<string>SHOW_TAB_COUNT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>FULLSCREEN_SCROLLING_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>fullscreenScrollingEnabled</string>
			<key>label</key>
			<string>FULLSCREEN_SCROLLING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>footerText</key>
			<string>LOCK_BARS_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.safariplusprefs/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.safariplusprefs</string>
			<key>key</key>
			<string>lockBars</string>
			<key>label</key>
			<string>LOCK_BARS</string>
		</dict>
	</array>
	<key>title</key>
	<string>USABILITY</string>
</dict>
</plist>
