<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>BOTH_LINK_OPENING_ACTIONS_FOOTER</string>
				<key>label</key>
				<string>URL_ACTIONS</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>bothTabOpenActionsEnabled</string>
				<key>label</key>
				<string>BOTH_LINK_OPENING_ACTIONS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>OPEN_IN_OPPOSITE_MODE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>openInOppositeModeOptionEnabled</string>
				<key>label</key>
				<string>OPEN_IN_OPPOSITE_MODE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DESKTOP_MODE_SWITCH_FOOTER</string>
				<key>label</key>
				<string>TAB_MANAGEMENT</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>desktopButtonEnabled</string>
				<key>label</key>
				<string>DESKTOP_MODE_SWITCH</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>TAB_MANAGER_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>tabManagerEnabled</string>
				<key>label</key>
				<string>TAB_MANAGER</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>tabManagerScrollPositionFromTabSwitcherEnabled</string>
				<key>label</key>
				<string>SCROLL_POSITION_FROM_TAB_SWITCHER</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DISABLE_TAB_LIMIT_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>disableTabLimit</string>
				<key>label</key>
				<string>DISABLE_TAB_LIMIT</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>ALWAYS_OPEN_NEW_TAB_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>alwaysOpenNewTabEnabled</string>
				<key>label</key>
				<string>ALWAYS_OPEN_NEW_TAB</string>
				<key>nestedEntryCount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>alwaysOpenNewTabInBackgroundEnabled</string>
				<key>label</key>
				<string>OPEN_NEW_TAB_IN_BACKGROUND</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>DISABLE_PRIVATE_MODE_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>disablePrivateMode</string>
				<key>label</key>
				<string>DISABLE_PRIVATE_MODE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>LONG_PRESS_SUGGESTIONS_FOOTER</string>
				<key>label</key>
				<string>SUGGESTIONS</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>longPressSuggestionsEnabled</string>
				<key>label</key>
				<string>LONG_PRESS_SUGGESTIONS</string>
				<key>nestedEntryCount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>label</key>
				<string>LONG_PRESS_DURATION_TITLE</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<string>1</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>isSegmented</key>
				<string>1</string>
				<key>key</key>
				<string>longPressSuggestionsDuration</string>
				<key>max</key>
				<string>2</string>
				<key>min</key>
				<string>0.25</string>
				<key>segmentCount</key>
				<integer>7</integer>
				<key>showValue</key>
				<string>1</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>longPressSuggestionsFocusEnabled</string>
				<key>label</key>
				<string>LONG_PRESS_FOCUS_TITLE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>SUGGESTION_INSERT_BUTTON_FOOTER</string>
				<key>maxCFVersion</key>
				<real>1561.00</real>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>suggestionInsertButtonEnabled</string>
				<key>label</key>
				<string>SUGGESTION_INSERT_BUTTON</string>
				<key>maxCFVersion</key>
				<real>1561.00</real>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>SHOW_TAB_COUNT_FOOTER</string>
				<key>label</key>
				<string>INTERFACE</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>showTabCountEnabled</string>
				<key>label</key>
				<string>SHOW_TAB_COUNT</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>FULLSCREEN_SCROLLING_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>fullscreenScrollingEnabled</string>
				<key>label</key>
				<string>FULLSCREEN_SCROLLING</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>LOCK_BARS_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>lockBars</string>
				<key>label</key>
				<string>LOCK_BARS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>SHOW_FULL_SITE_URL_FOOTER</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>showFullSiteURLEnabled</string>
				<key>label</key>
				<string>SHOW_FULL_SITE_URL</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>FORCE_NATIVE_PLAYER_FOOTER</string>
				<key>minCFVersion</key>
				<real>1556.00</real>
				<key>onlyShowOnIPad</key>
				<true/>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>forceNativePlayerEnabled</string>
				<key>label</key>
				<string>FORCE_NATIVE_PLAYER</string>
				<key>minCFVersion</key>
				<real>1556.00</real>
				<key>onlyShowOnIPad</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>footerText</key>
				<string>SUPPRESS_MAILTO_DIALOG_FOOTER</string>
				<key>minCFVersion</key>
				<real>1348.00</real>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>com.opa334.safariplusprefs/ReloadPrefs</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>com.opa334.safariplusprefs</string>
				<key>key</key>
				<string>suppressMailToDialog</string>
				<key>label</key>
				<string>SUPPRESS_MAILTO_DIALOG</string>
				<key>minCFVersion</key>
				<real>1348.00</real>
			</dict>
		</array>
		<key>title</key>
		<string>USABILITY</string>
	</dict>
</plist>
